body {
   background-image:linear-gradient(hsla(300,50%, 50%,0.5),50%,black), 
   url("PicsArt_01-03-05.36.40.jpg")  ;
   background-size :cover ;
   background-repeat:no-repeat;
   font-family: 'Nunito', sans-serif; 
   height :100vh;
}
html{
  scroll-behavior: smooth;
} 
 /*font-family: 'Poppins', sans-serif  !important */
 
 /* preloader */
 .spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;
}
 .spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 44%;
  left: 40%;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
 
 /*Home page info......... */

.menu-icon{
  float :right ;
  margin-top :40px ;
  margin-right :50px;
}
 
.icon{
  background :#212121;
  font-size :1.3em;
  font-weight: 200 ;
  padding :10px 15px;
  
}
 
.info{
  margin-top: 5%;
  margin-left :10px ;
}
.details{
  font-family: 'Poppins', sans-serif  !important;
  text-shadow: 1px 1px 1px black;
}
.greeting{
  font-family:  'Poppins', sans-serif  !important ;
  font-weight: 400 ;
  font-size :1.1em
}
.my-name{
  font-family:  'Poppins', sans-serif  !important ;
  font-weight: 700;
  letter-spacing: 1px;
}
.my-name-color{
  color :#ffB300;
}

/*list*/

.list{
background :#212121;
  position :absolute ;
  top:0;
  left :0;
  width: 100%;
  height: 100vh ;
  display: none ;
}

.cross-icon span{
  display :block ;
  float :right ;
  margin-right :50px ;
  margin-top :40px ;
  font-size :1.3em;
  cursor: pointer ;
  
}
.ul-main li{
  background :#212121  !important;
  color: white ;
  padding :20px;
  margin-left :10px ;
}
.ul-main li:nth-child(1){
  border-top: none;
}


.ul-main li i{
  display :inline-block ;
 margin-right: 10px;
}
.ul-main li i:hover {
  color: #FFC107;
}
